body.cadastro {

    .register-form {
        margin-top: 10vh;
    }

    .register-button {
        width: 192px;
        display: block;
        margin: 15px auto;
    }

    .select {
        background: #fff;
        color: #999;
    }
}