body.dashboard {
    header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logout {
                color: $second-color;
            }
        }
    }
    .school-rank {
        .school {
            background: $third-h-gradient;
            display: flex;
            align-items: center;
            padding: 3%;
            border-radius: 7px;
            .school-logo-wrapper {
                align-items: center;
                background: #fff;
                box-shadow: 0px 5px 43px -5px rgba(0,0,0,0.9);
                border-radius: 100%;
                display: flex;
                height: 40px;
                justify-content: center;
                margin-right: 3%;
                overflow: hidden;
                width: 40px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .datas {
                display: flex;
                flex-direction: column;
                width: 80%;

                .school-points, .school-name {
                    margin: 2px 0;
                }

                .school-points {
                    font-size: .75em;
                }
            }

            .school-position {
                font-size: .75em;
                font-weight: 100;
            }
        }
    }

    .students-rank {
        margin-top:3vh;

        .rank {
            padding: 0;

            a {
                width: 90%;
            }
        }

        .student {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .position { font-size: .75em; }

            .stutend-img-wrapper {
                box-shadow: 0px 5px 43px -5px rgba(0,0,0,0.9);
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 100%;
                margin: 3%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .datas {
                width: 60%;

                .name, .school {
                    display: block;
                    margin: 0;
                }

                .school {
                    font-size: .75em;
                }
            }

            .points {
                font-size: .75em;
                font-weight: 900;
            }
        }
    }

    .cta {
        margin-bottom: 3vh;
        text-align: center;

        .button {
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 1em;
            padding: 5px 25px;
            
            &:before {
                content: '';
                background:  url('../img/icons/ico-play.png') no-repeat;
                display: inline-block;
                height: 54px;
                margin: 5px 22px 0 -25px;
                width: 50px;
            }
        }
    }
}