body.home {

    .greetings {
        margin: 15% 0;
    }

    .login-form {
        .login-button {
            display: block;
            margin: 10px auto;
            width: 140px;
        }
    }

    .functions {
        margin-top: 10vh;
        text-align: center;
    }
}