// COLORS
$first-color: #ecbc4b;
$second-color: #ef767a;
$third-color: #5aed71;

// GRADIENTS
$first-h-gradient: linear-gradient(to right, rgba(246,188,130,1) 0%,rgba(236,188,75,1) 100%);
$second-h-gradient: linear-gradient(to right, rgba(246,130,130,1) 0%,rgba(236,75,75,1) 100%);
$third-h-gradient: linear-gradient(to right, rgba(130,157,246,1) 0%,rgba(75,107,236,1) 100%);