body {
    font-family: 'Nunito', sans-serif;
    color: #1e1e1e;
}

* { box-sizing: border-box; }

a {
    text-decoration: none;
    display: inline-block;
    color: initial;
}

p { display: inline-block; }